<?xml version="1.0"?>
<Configuration>
	<ProductOverRide>
		  <Product>MRD7 Win10 Driver Package - PV Candidate WW29.5</Product >
	</ProductOverRide>
  <TitleOverRide>
      <Title>Intel MRD7 Win10 Driver Package - PV Candidate WW29.5</Title>
  </TitleOverRide>
	<SocPackageInfo>	
		<Version>0x00A</Version>
		<VersionRegistryKey>
			<Root>HKEY_LOCAL_MACHINE</Root>
			<Key>SOFTWARE\Intel\SOCPackageInfo</Key>
			<Value>VersionNumber</Value>
			<StringValue>
				<StringValueName>Version</StringValueName>
				<StringValueData>00A</StringValueData>
			</StringValue>
		</VersionRegistryKey>		
	</SocPackageInfo> 
	<OrderedInfFileList>
        <File>
			<Name>iaioi2ce.inf</Name>
		</File>
		<File>
			<Name>iaiogpioe.inf</Name>
		</File>
		<File>
			<Name>iaiogpiovirtual.inf</Name>
		</File>
		<File>
			<Name>MBI.inf</Name>
		</File>
        <File>
			<Name>IntelBatteryManagement.inf</Name>
		</File>
		<File>
			<Name>pmic.inf</Name>
		</File>
        <File>
			<Name>iaiouart.inf</Name>
		</File>
		<File>
			<Name>Dptf.inf</Name>
		</File>	
        <File>
			<Name>isstrtc.inf</Name>
		</File>
        <File>
			<Name>rtii2sac.inf</Name>
		</File>
        <File>
			<Name>TXEI.inf</Name>
		</File>
		<File>
			<Name>igdlh.inf</Name>
		</File>	
		<File>
			<Name>BMA2x2Accelerometer.inf</Name>
		</File>	
		<File>
			<Name>GYRO_SensorDriver.inf</Name>
		</File>		
		<File>
			<Name>rtkuart.inf</Name>
		</File>	
		<File>
			<Name>RtkA2dp.inf</Name>
		</File>	
		<File>
			<Name>RtkAvrcp.inf</Name>
		</File>	
		<File>
			<Name>RtkAvrcpCtrlr.inf</Name>
		</File>		
		<File>
			<Name>netrtwlans.inf</Name>
		</File>			
	    <File>
			<Name>iacamera32.inf</Name>
		</File>	
		<File>
			<Name>hm2056.inf</Name>
		</File>	
		<File>
			<Name>ov2680.inf</Name>
		</File>
	    <File>
			<Name>ov5648.inf</Name>
		</File>
	    <File>
			<Name>gc0310.inf</Name>
		</File>	
	</OrderedInfFileList>
</Configuration>